#loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid #d6ddf5;
    border-radius: 50%;
    border-top-color: #213780;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }