.filter-root{
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20px;
    height: fit-content;
}

.advert-root {
    background: #1f357e;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20px;
    height: fit-content;
    margin-bottom: 20px;
    text-align: center;
}

.advert-textt {
    color: white;
}

.right-component-context {
    flex: 1.15;
}

.filter-header {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.filter-subheader {
    font-size: 15px;
    font-weight: bold;
    color: #ea8317;
}

.check-labels {
    margin-left: 10px;
}

.filter-amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}