.drive-body-root {
  border-radius: 5px;
  background-color: white;
} 

.drive-jd {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 8px 0;
}

.drive-body-jd{
  margin-top:1.5rem;
  padding:1rem;
  border-radius: 0.5rem;
}

.drive-body-eligibility{
  margin-top:1.5rem;
  background-color: #E4EDFB;
  padding:1rem;
  border-radius: 0.5rem;
}

.drive-about-company{
  margin: 1.5rem 0;
}

.eligibility-param {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 15px;
}

.eligibility-param-check {
  background: #d0fbd2;
  border-radius: 1000px;
  height: fit-content;
  padding: 2px 5px 0px 5px;
  margin-right: 7px;
}

.eligibility-param-x {
  background: #fbeff5;
  border-radius: 1000px;
  height: fit-content;
  padding: 2px 5px 0px 5px;
  margin-right: 7px;
}
